dissim_BP_brown_only_cold_fishers.csv_astrangia_iso2go.tab
dissim_BP_brown_only_heat_fishers.csv_astrangia_iso2go.tab
dissim_BP_shared_cold_fishers.csv_astrangia_iso2go.tab
dissim_BP_shared_heat_fishers.csv_astrangia_iso2go.tab
dissim_BP_white_only_cold_fishers.csv_astrangia_iso2go.tab
dissim_BP_white_only_heat_fishers.csv_astrangia_iso2go.tab
dissim_CC_brown_only_cold_fishers.csv_astrangia_iso2go.tab
dissim_CC_brown_only_heat_fishers.csv_astrangia_iso2go.tab
dissim_CC_shared_cold_fishers.csv_astrangia_iso2go.tab
dissim_CC_shared_heat_fishers.csv_astrangia_iso2go.tab
dissim_CC_white_only_cold_fishers.csv_astrangia_iso2go.tab
dissim_CC_white_only_heat_fishers.csv_astrangia_iso2go.tab
dissim_MF_brown_only_cold_fishers.csv_astrangia_iso2go.tab
dissim_MF_brown_only_heat_fishers.csv_astrangia_iso2go.tab
dissim_MF_shared_cold_fishers.csv_astrangia_iso2go.tab
dissim_MF_shared_heat_fishers.csv_astrangia_iso2go.tab
dissim_MF_white_only_cold_fishers.csv_astrangia_iso2go.tab
dissim_MF_white_only_heat_fishers.csv_astrangia_iso2go.tab
